body{
    margin: 0;
    font-family: tahoma;
}

.secao{
text-align: center;
padding-top: 30px;
padding-bottom:30px;
}

.paragrafo{
   margin: 10px auto;
   width: 980px;
   text-align: justify;
   font-size: 18px;
   line-height: 28px;
}
.topo{
  background-color: #afddfb; 
}

.topo img{
width: 150px;
}

.paragrafo-topo{
    text-align: center;
    margin-top: 15px;
    margin-bottom:25px;
}

.link-topo{
    font-size: 18px;
    color: #1d1d1d;
    text-decoration: none;
    border-bottom: 2px solid #1d1d1d;
    margin: 0 10px;
}

.banner{
    padding-top: 0;
    margin-top:50px;
}

span{
    font-weight: bold;
}

h1{
    color:#1d1d1d;
    margin-bottom: 5px;
}

h2{
    color: #1c81c0;
    font-weight: normal;
}

.assinatura{
    width: 450px;
}
.texto-azul{
  color: #1d80c1; 
}
.servicos, .contato{
background-color: #1d80c1;
}

h3{
color:#ffffff;
font-size: 28px;
line-height: 42px;
}

.paragrafo-servicos{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}
.texto-amarelo{
    color: #fff81b;
}

.lista-servicos{
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos{
    color: #fff;
    line-height: 42px;
    text-align:left;
    font-size: 22px;
}

.paragrafo-contato{
    color:#ffffff;
    background-color: #1d1d1d;
    padding:15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista-contato{
 width: 210px;
 margin: 40px auto 40px;
 list-style: none;
}

.itens-lista-contato{
    text-align:center;
    font-size: 18px;
    margin-top:15px;
}

.link-contato{
    background-color: #ffffff;
    color:#1d90c1;
    border-radius: 4px;
    padding: 2px 5px;
}